* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: darkcyan;
    margin: 0;
  }
  .wrapper {
    max-width: 1200px;
    min-width: 560px;
    width: 85%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
  main {
    flex-grow: 1;
  }
  .block {
    background-color: white;
    padding: 15px;
  }