body{
  background-color:gray;
}
.flag{
  text-align: center;
  border: 2px solid black;
  width: 256px;
  height: 192px;
  margin: auto;
  line-height: 192px;
  border-radius: 7px;
}
h1{
  text-align: center;
}
li{
  display:inline-block;
  background-color: white;
  padding: 0.8em;
  border-radius: 7px;
}
ul{
  text-align: center;
}
.active{
  background-color:pink;
}